a {
  color: $font-color;
}

@each $weight in map-keys($font-weight-scales) {
  $value: map-get($font-weight-scales, $weight);
  .fw\:#{$value} {
    font-weight: $value;
  }
}

.fsy\:i {
  font-style: italic;
}

.td\:u {
  text-decoration: underline;
}

.td\:n {
  text-decoration: none;
}

.ta\:c {
  text-align: center;
}

.ta\:l {
  text-align: left;
}

.ta\:r {
  text-align: right;
}
